def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')


params {
    // TODO nf-core: Specify your pipeline's command line flags
    // Input options
    input                      = null

    // Boilerplate options
    outdir                     = "genomad_run_info"
    tracedir                   = "${params.outdir}/pipeline_info/${trace_timestamp}"
    publish_dir_mode           = 'copy'
    email                      = null
    email_on_fail              = null
    plaintext_email            = false
    monochrome_logs            = false
    hook_url                   = null
    help                       = false
    version                    = false
    validate_params            = true
    show_hidden_params         = false

    // Max resource options
    // Defaults only, expecting to be overwritten
    max_memory                 = '200.GB'
    max_cpus                   = 4
    max_time                   = '24.h'

    help = false
    version = false

    store_dir = "store_dir"
    unique_id = null
    timestamp = "${trace_timestamp}"


    // subworkflow parameters
    unique_id = null
    samplesheet = null
    samplesheet_id_column = 'climb_id'
    samplesheet_columns = 'climb_id,unclassified_reads_1,unclassified_reads_2,taxon_reports'
    // samplesheet_columns = 'unclassified_reads_1,unclassified_reads_2'
    output = "genomad" // Output directory
    genomad_db = "/shared/team/reference_databases/genomad/genomad_db"

}
